button:hover {
  background-color: #45a049;
}

.remove-from-cart-btn {
  background-color: #f44336;
}

.remove-from-cart-btn:hover {
  background-color: #e53935;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
